<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<footer>
  <!-- Phần cuối Web -->
  <div id="Footer">
    <footer class="footer">
      <div class="Cot1">
        <h3>Thư viện sách</h3>
        <a>1. Sách lớp 10</a>
        <a>2. Sách lớp 11 </a>
        <a>3. Sách lớp 12 </a>
      </div>
      <div class="Cot2">
        <h3>Liên hệ:</h3>
        <p>Hottline: (+84) 329636928</p>
        <p>Zalo: 0329636928</p>
        <p>Email: trungkienlegend.vn@gmail.com</p>
      </div>
      <div class="Cot3">
        <h3>Kết nối với Kiên IT</h3>
        <p><i class="fa-brands fa-facebook"></i><a href="https://www.facebook.com/trungkienlegend.vn"> Bùi Trung Kiên</a></p>
        <p><i class="fa-brands fa-tiktok"></i><a href="https://www.tiktok.com/@kien.it?_t=8ikohNDfUfv&_r=1"> Kiên IT</a></p>
        <p><i class="fa-brands fa-tiktok"></i><a href="https://www.tiktok.com/@kiencode.vn?_t=8ikn0gczhB4&_r=1"> Kiên Code</a></p>
      </div>
    </footer>

    <!-- Cuối cùng -->
    <div class="Bottom-C">
      <p>&copy; 2023 Kiên IT. All Rights Reserved</p>
    </div>

</footer>
</body>
</html>