<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header>
    <!-- Thanh Menu 1 -->
    <div class="Menu1">
        <!-- Ô 1 -->
        <div id="Box1">
            <a class="button" data-text="Awesome">
                <span class="actual-text">&nbsp;TRƯỜNG PTDTNT THCS & THPT NGỌC SƠN&nbsp;</span>
                <span aria-hidden="true" class="front-text"
                >&nbsp;TRƯỜNG PTDTNT THCS & THPT NGỌC SƠN&nbsp;</span>
            </a>
        </div>

        <!-- Ô 3 -->
        <div id="Box3">
            <li>
                <a href="#"> <i class="fas fa-bell icon"></i> Thông báo </a>
            </li>

            <li>
                <a href="#"><i class="fas fa-headset icon"></i> Hỗ trợ </a>
            </li>
            <li>
                <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất </a>
            </li>
        </div>
    </div>
</header>
</body>
</html>