/* Phần cuối Web */
.footer {
    border-top: 4px solid #ee4d2d;
    background-color: rgb(220, 223, 223);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
}

.Cot1 h3,
.Cot2 h3,
.Cot3 h3 {
    text-align: left;
    margin-left: 30px;
}

/* Cuối cùng*/
.Bottom-C {
    background-color: #929090;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.Bottom-C p {
    margin: 0;
    font-size: 18px;
    text-align: center;
}