/* Menu 1 */
.Menu1 {
    position: fixed; /* Cố định thanh Menu */
    width: 100%;
    height: 40px;
    top: 0; /* Ngăn nội dung lọt qua thanh Menu */
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #534f4f;
    padding: 10px;
    border-bottom: 1px solid #00fbff;
}

#Box1 {
    font-size: 10px;
    font-weight: bold;
}

.button {
    position: relative;
    border: none;
    background: transparent;
    --stroke-color: #ffffff7c;
    --ani-color: rgba(95, 3, 244, 0);
    --color-gar: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    letter-spacing: 3px;
    font-size: 2em;
    font-family: "Arial";
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--stroke-color);
    cursor: pointer;
}

.front-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-gar);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    overflow: hidden;
    transition: all 1s;
    animation: 8s ani infinite;
    border-bottom: 2px solid transparent;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 400%;
    }

    100% {
        background-position: 0%;
    }
}

#Box2 {
    display: flex;
    align-items: center;
    list-style: none;
}

.search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search-header_input {
    font-family: inherit;
    font-size: 16px;
    background-color: #ffffff;
    border: solid 0.5px #525252;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    width: 350px;
    height: 15px;
    transition: all ease-in-out 3s;
    margin-right: -2rem;
    opacity: 1;
}

.search-header_input:hover,
.search-header_input:focus {
    box-shadow: 0 0 1em #f5000013;
}

.search-header_input:focus {
    outline: none;
    border-bottom: 2px solid #ff0000;
    border-radius: 10px 10px 10px 10px;
}

.search-header_input::-webkit-input-placeholder {
    font-weight: 100;
    color: #3a3a3a;
}

.search-header_input:focus + .search-header__button {
    background-color: transparent;
}

.search-header__button {
    border: none;
    background-color: transparent;
    margin-top: 0.1em;
}

.search-header__button:hover {
    cursor: pointer;
}

.search-header__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #3a3a3a;
}

/* Ô 3 */

#Box3 {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

#Box3 li {
    list-style: none;
    margin-right: 10px;
}

#Box3 li:last-child {
    margin-right: 0; /* Loại bỏ margin phải cho phần tử cuối cùng */
}

#Box3 li a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

#Box3 li a .icon {
    margin-right: 5px;
}

/* Màu 4 Icon*/
#Box3 li a .icon {
    color: #ffffff;
}

/*Màu Icon Giỏ hàng*/
#Box3 li a .fa-shopping-cart {
    color: #ffffff;
}