<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- teacherForm.html -->
<form th:action="@{/admin/teachers/submit}" th:method="post">
    <div>
        <label for="teacherId">ID Giáo viên:</label>
        <input type="text" id="teacherId" name="teacherId" th:disabled="${action == 'add'}" th:value="${teacher.id}"/>
    </div>

    <div>
        <label for="teacherName">Tên Giáo viên:</label>
        <input type="text" id="teacherName" name="teacherName" th:value="${teacher.name}"/>
    </div>

    <div>
        <label for="teacherSubject">Môn dạy:</label>
        <input type="text" id="teacherSubject" name="teacherSubject" th:value="${teacher.subject}"/>
    </div>

    <!-- Thêm các trường khác nếu cần -->

    <button type="submit" th:if="${action == 'add'}">Thêm Giáo Viên</button>
    <button type="submit" th:if="${action == 'edit'}">Chỉnh Sửa Giáo Viên</button>
    <button type="submit" th:if="${action == 'delete'}">Xóa Giáo Viên</button>
</form>

</body>
</html>